<h1>Edit AN ARTICLE</h1>
<form action="/articles{{title}}?_method=PUT" method="post">
  Title: <input type="text" name="title" value='{{article.title}}'><br>
  Author: <input type="text" name="author" value='{{article.author}}'><br>
  Body: <input type="textarea" name="body" value='{{article.body}}'><br>
  <input type="submit" value="Submit">
</form>

<form action="/articles{{title}}?_method=DELETE" method="post">
  Type title to confirm delete: <input type="text" name="title"><br>
  <input type="submit" value="DELETE ARTICLE">
</form>